[submodule "travel-recsys-model"]
	path = travel-recsys-model
	url = https://github.com/KrishnanditoLksn/travel-recsys-model.git
[submodule "jelajah_indo_be"]
	path = jelajah_indo_be
	url = https://github.com/KrishnanditoLksn/jelajah_indo_be.git
[submodule "Rekomendasi_Destinasi_Wisatawan"]
	path = Rekomendasi_Destinasi_Wisatawan
	url = https://github.com/Mdayyu/Rekomendasi_Destinasi_Wisatawan.git
